/* mediaquery ref: https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

/* for desktop */
@media only screen and (min-width: 768px) {
#map {
    height: 845px;
}
}

/* for mobile */
@media only screen and (max-width: 768px) {
    #map {
        height: 500px;
    }
    }

/* body {
    padding: 0;
    margin: 0;
} */

.iconHighRisk {
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    /* background-image: url('markericon.png'); */
    background-color: rgb(255, 185, 185);
    border: 0px solid rgb(145, 0, 0);
    text-align: center;
    box-shadow: 0 0 10px rgba(145, 0, 0, 0.2);
}

.iconMiddleRisk {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    /* background-image: url('markericon.png'); */
    background-color: rgb(245, 234, 178);
    border: 0px solid rgb(145, 128, 0);
    text-align: center;
    box-shadow: 0 0 10px rgba(92, 77, 0, 0.25);

}


.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


/* customize the map icons */

.leaflet-top.leaflet-right .leaflet-control-layers:nth-child(1) .leaflet-control-layers-toggle {
    background-image: url("../images/layers-provider.png");
    width: 32px;
    height: 32px;
}

.leaflet-top.leaflet-right .leaflet-control-layers:nth-child(2) .leaflet-control-layers-toggle {
    background-image: url("../images/layers-cases.png");
    width: 32px;
    height: 32px;
}


.leaflet-top.leaflet-right .leaflet-control-layers:nth-child(3) .leaflet-control-layers-toggle {
    background-image: url("../images/layers-point.png");
    width: 32px;
    height: 32px;
}