html, body {
  height: 100%;
  width: 100%;
}

#map {
    height: 50vh;
    /* align-content: center; */
}

#aboveMozImage {
  height: 1px;
}

/* Start of Navbar */
.navbar {
  background: #fde3e3;
}

.navbar-icon {
  margin: 0 15px;
  width: 40px;
  height: 40px;
}

.navbar-nav a {
  font-family: "Rubik", sans-serif;
  color: #333333;
  font-weight: bolder;
  font-size: 1.1rem;
  text-align: center;
  margin-left: 25px;
}

.navbar-nav a:hover {
  color: #af0000;
}

.hamburger {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  right: 25px;
}

.hamburger span {
  margin: 0 auto;
  position: relative;
  top: 8px;
  right: 13px;
}

.hamburger span:before,
.hamburger span:after {
  position: absolute;
  content: "";
}

.hamburger span,
.hamburger span:before,
.hamburger span:after {
  width: 30px;
  height: 3px;
  background-color: #000;
  display: block;
}

.hamburger span:before {
  margin-top: -12px;
}

.hamburger span:after {
  margin-top: 12px;
}

.hamburger-animation {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.hamburger-animation:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* End of Navbar */


/* Start of Slider style */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
/* End of Slider style */




/* Bootstrap 5 CSS and icons included */
/* vanillajs-datepicker 1.1.4 CSS included */
main h2{
  font-size: 16px;
  margin: 15px 0;
}

/* Adapts a floating label for use with a left-handed input group icon */
.form-floating > .bi-calendar-date + .datepicker_input + label {
padding-left: 3.5rem;
z-index: 3;
}