html, body {
  height: 100%;
  width: 100%;
}

#map {
    height: 50vh;
    /* align-content: center; */
}

#aboveMozImage {
  height: 1px;
}

/* Start of Navbar */
.navbar {
  background: #fde3e3;
}

.navbar-icon {
  margin: 0 15px;
  width: 40px;
  height: 40px;
}

.navbar-nav a {
  font-family: "Rubik", sans-serif;
  color: #333333;
  font-weight: bolder;
  font-size: 1.1rem;
  text-align: center;
  margin-left: 25px;
}

.navbar-nav a:hover {
  color: #af0000;
}

.hamburger {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  right: 25px;
}

.hamburger span {
  margin: 0 auto;
  position: relative;
  top: 8px;
  right: 13px;
}

.hamburger span:before,
.hamburger span:after {
  position: absolute;
  content: "";
}

.hamburger span,
.hamburger span:before,
.hamburger span:after {
  width: 30px;
  height: 3px;
  background-color: #000;
  display: block;
}

.hamburger span:before {
  margin-top: -12px;
}

.hamburger span:after {
  margin-top: 12px;
}

.hamburger-animation {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.hamburger-animation:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* End of Navbar */
